:root {
	--key-offset-ratio: 0;
	--key-width-ratio: 1;
}

.key {
	width: calc(var(--key-width-ratio) * var(--key-size));
	height: var(--key-size);
	border-radius: 4px;
	background-color: #fff;
	border: 8px solid #eee;
	border-top: 3px solid #eee;
	margin-right: calc(var(--key-offset-ratio) * var(--key-size));
	border-bottom-width: 8px;
	color: #222;
	padding-top: 2px;
}

.key_pressed {
	background-color: tomato;
	border-color: rgb(190, 101, 85);
}
